@import './mq.scss';
@import './variables.scss';
  

body{
    margin: 0%;
}

.logo{
//background-image: url($logo-background);
width: 100px;
height: 100px;
background-size: contain;
background-repeat: no-repeat;
    @include phone {
        width: 50px;
        height: 50px;
}

}

.logo img{
    width: 100%;
    height: 100%;
 

}

.barra-navegacion {

    //Este display grid es para la mq
    

    @include tablet{
        //Esto se aplicará a pantallas con un tamaño menor a 768px
        background-color: $primario;
        height: 120px;
        
       
        
    }

    @include phone {
        background-color: $primario;
        height: 90px;
        
    }

    
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    font-style: $font-style-regular;
    //margin-top:  0%;
    font-size: 1.5rem;
    padding: 0.5rem;
    position: fixed;
    top: 0%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center;
    background-color: $primario;
    width: 100%;
    height: 120px;
    
}

.enlaces{
    display: none;
}
/*
.enlaces input[type="checkbox"]{

}
*/


#escondido {
    display: none;
    @include phone {
        display: block;
        width: 60px;
        font-size: 1rem;
        cursor: pointer;
    }
}

.enlaces2 {
    display: none;
    @include phone {
        display: none;
        flex-direction: column;
        background-color: $primario;
        position: absolute;
        top: 90px;  /* Alinea el menú debajo de la barra */
        left: 0;
        width: 100%;
    }
}

.menu-toggle:checked + #escondido + .enlaces2 {
    display: flex;
}


/*
.escondidos{
    @include phone{
        display: none !important;
    }
}   
*/
.enlaces{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
   @include phone{
        display: none;
       
    }
}

.enlace{
    font-size: 2rem;
    background-color: $negro;
    border-radius: 25%;
    color: $primario;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    max-width: 20%;

    @include tablet {
        max-width: 80%;
        font-size: 1rem;
    }

    @include phone {
        width: 80px;
        font-size: 4rem;
    }
}

/*
He decidido comentar estos dos elementos que desplazaban
 los botones exteriores del menú un poco hacia arriba, 
 porque considero que va a quedar mejor.
*/
.logo + a{
    
    //margin-bottom: 1.5rem;
}

.enlace:last-of-type{
    //margin-bottom: 1.5rem;
}

.enlace:hover{
    color: $rojo;
    background-color: $gris;
    width: 130px;
    height: 40px;
    text-align: center;
    box-shadow:$box-shadow-enlace-hover;
}

.contenido{

    width: 100%;
    height: 80rem;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/tiranidosBN.jpg);

    @include tablet{
        background-image: url(../images/jn4cuCYheBBUVbZtO0-eqhZXn5D6eNC0R8ZxLz3zFRk.webp);
        background-size:auto 100%;
    }

    @include phone{
        background-image: url(../images/97061f69205dd00335f08b9cff10df16.jpg);
        background-size: auto 100%;
    }
}

.sidebar{
    //float: right;
    margin: 1rem;
    padding-top: 7.5rem;
    text-align: center;
    font-size: 2rem;

    @include tablet{
        font-size: 1.5rem;
    }

    @include phone{
        font-size: 1rem;
    }

}


h2, h3, h4{
    color: $primario;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: $negro;
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    font-style: $font-style-regular;
}



.iconos{

    background-repeat: no-repeat;
    max-width: 50%;
    width: 70px;
    height: 70px;

    @include tablet{
        width: 45px;
        height: 45px;
    }
    
    @include phone{
        width: 35px;
        height: 35px;
    }
}

/*
#contenedor-maps a{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
#maps{
  

}


footer{
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    color: $primario;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $negro;
font-size: 2rem;
font-family: $font-family-primary;
font-weight: $font-weight-regular;
font-style: $font-style-regular;

@include tablet{
    font-size: 1.5rem;
}

@include phone{
    font-size: 1rem;
}
}
